---

spring:
  flyway:
    enabled: true
    locations: classpath:/db/migration
  # Postgres configuration
  datasource:
    driver-class-name: org.postgresql.Driver
    #url: jdbc:postgresql://${POSTGRESQL_SERVICE_HOST}:${POSTGRESQL_SERVICE_PORT}/${POSTGRESQL_DATABASE}?ssl=true&sslmode=verify-full&sslrootcert=${SSL_POSTGRES_CERTIFICATE_PATH}&sslcert=${SSL_DISTRIBUTION_CERTIFICATE_PATH}&sslkey=${SSL_DISTRIBUTION_PRIVATE_KEY_PATH}
    url: jdbc:postgresql://localhost:8102/cwa
    username: postgres
    password: postgres

ppac:
  ios:
    ppac-ios-jwt-key-id: ${PPAC_IOS_JWT_KEY_ID}
    ppac-ios-jwt-signing-key: ${PPAC_IOS_JWT_SIGNING_KEY}
    ppac-ios-jwt-team-id: ${PPAC_IOS_JWT_TEAM_ID}
    device-api-url: ${APPLE_DEVICE_API_URL:https://api.development.devicecheck.apple.com/v1}
    min_device_token_length: ${PPAC_IOS_DEVICE_TOKEN_MIN_LENGTH}
    max_device_token_length: ${PPAC_IOS_DEVICE_TOKEN_MAX_LENGTH}
  android:
    certificate-hostname: ${PPAC_ANDROID_CERTIFICATE_HOSTNAME:attest.android.com}
    attestation-validity: ${PPAC_ANDROID_ATTESTATION_VALIDITY_IN_SECONDS:7200}
    allowed-apk-package-names: ${PPAC_ANDROID_ALLOWED_APK_PACKAGE_NAMES:de.rki.coronawarnapp.test}
    allowed-apk-certificate-digests: ${PPAC_ANDROID_ALLOWED_APK_CERTIFICATE_DIGESTS:9VLvUGV0Gkx24etruEBYikvAtqSQ9iY6rYuKhG+xwKE=}
