logging:
  level:
    org:
      springframework: INFO
    root: INFO
spring:
  flyway:
    enabled: true
    locations: classpath:/db/migration,classpath:/db/specific/{vendor}
    schemas: data_donation
  # Postgres configuration
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRESQL_SERVICE_HOST}:${POSTGRESQL_SERVICE_PORT}/${POSTGRESQL_DATABASE}
    username: ${POSTGRESQL_USER_RETENTION:postgres}
    password: ${POSTGRESQL_PASSWORD_RETENTION:postgres}
    hikari:
      schema: data_donation
services:
  retention:
    exposure-risk-metadata-retention-days: ${EXPOSURE_RISK_METADATA_RETENTION_DAYS:99999} #to be changed when a value is defined
    exposure-window-retention-days: ${EXPOSURE_WINDOW_RETENTION_DAYS:99999} #to be changed when a value is defined
    key-metadata-with-client-retention-days: ${KEY_METADATA_WITH_CLIENT_RETENTION_DAYS:99999} #to be changed when a value is defined
    key-metadata-with-user-retention-days: ${KEY_METADATA_WITH_USER_RETENTION_DAYS:99999} #to be changed when a value is defined
    test-result-metadata-retention-days: ${TEST_RESULT_METADATA_RETENTION_DAYS:99999} #to be changed when a value is defined
    otp-retention-days: ${OTP_RETENTION_DAYS:7}
    api-token-retention-days: ${API_TOKEN_RETENTION_DAYS:2}
    device-token-retention-hours: ${DEVICE_TOKEN_RETENTION_HOURS:24}
    salt-retention-hours: ${SALT_RETENTION_HOURS:24}
    client-metadata-retention-days: ${CLIENT_METADATA_RETENTION_DAYS:99999}
